In [ ]:
import molar

In [ ]:
PASSWORD_ADMIN = "admin"
USER_PASSWORD = "pass"
# mail used to install molar locally
MOLAR_EMAIL_ADMIN = "ticona.belu@gmail.com"
# url used to install molar locally
URL_SERVER = "http://localhost:8000"

In [ ]:
from molar import ClientConfig, Client

admin_cfg = ClientConfig(server_url= URL_SERVER,
                         email=MOLAR_EMAIL_ADMIN,
                         password=PASSWORD_ADMIN,
                         database_name="main")

admin_client = Client(admin_cfg)

admin_client.test_token()

{'email': 'ticona.belu@gmail.com',
 'is_superuser': True,
 'is_active': True,
 'full_name': 'admin',
 'created_on': '2021-10-24T00:33:21.920164',
 'user_id': 1}

In [ ]:
admin_stober_cfg = ClientConfig(server_url="http://localhost:8000",
                        email="guillermo@dqi.uba.ar",
                        password=USER_PASSWORD,
                        database_name="stober_db")

admin_stober = Client(admin_stober_cfg)

In [ ]:
admin_stober.database_creation_request(
    superuser_fullname="Stober Admin DQI",
    alembic_revisions=["stober_db_creation@head"]
)

[10:13:45] INFO     Database request created                                    ]8;id=352568;file:///home/belu/.local/share/virtualenvs/acceleration-consortium-hackaton-VkvLMKVg/lib/python3.7/site-packages/molar/client.py\client.py]8;;\:107

{'msg': 'Database request created'}

In [ ]:
admin_client.get_database_requests()

,database_name,superuser_email,alembic_revisions,id,superuser_fullname,superuser_password,is_approved
0,stober_db,guillermo@dqi.uba.ar,[stober_db_creation@head],30,Stober Admin DQI,$2b$12$BqGAdZcpFE.eV/HhlsVtfelXzWs2ljWlrGrJLPm...,False

In [ ]:
admin_client.approve_database('stober_db')

[10:13:52] INFO     Database stober_db created.                                 ]8;id=721700;file:///home/belu/.local/share/virtualenvs/acceleration-consortium-hackaton-VkvLMKVg/lib/python3.7/site-packages/molar/client.py\client.py]8;;\:107

{'msg': 'Database stober_db created.'}

In [ ]:
admin_client.get_database_requests()

,database_name,superuser_email,alembic_revisions,id,superuser_fullname,superuser_password,is_approved
0,stober_db,guillermo@dqi.uba.ar,[stober_db_creation@head],30,Stober Admin DQI,$2b$12$BqGAdZcpFE.eV/HhlsVtfelXzWs2ljWlrGrJLPm...,True

In [ ]:
admin_stober.get_database_information('stober_db')

,table_name,column_name,type,subtype,is_nullable,constraint_name,containt_type,references
0,characterization,characterization_id,uuid,uuid,NO,characterization_pkey,None,characterization.characterization_id
1,characterization,standard_deviation,double precision,float8,YES,None,None,None
2,characterization,technique,character varying,varchar,YES,None,None,None
3,characterization,value,double precision,float8,YES,None,None,None
4,compound,CAS,character varying,varchar,YES,None,None,None
5,compound,compound_id,uuid,uuid,NO,compound_pkey,None,compound.compound_id
6,compound,name,character varying,varchar,YES,None,None,None
7,compound,purity,double precision,float8,YES,None,None,None
8,data_source,data_source_id,uuid,uuid,NO,data_source_pkey,None,data_source.data_source_id
9,data_source,reference,character varying,varchar,YES,None,None,None
10,data_source,secondary_data,boolean,bool,YES,None,None,None
11,data_source,year,integer,int4,YES,None,None,None
12,experiment,date,date,date,YES,None,None,None
13,experiment,experiment_id,uuid,uuid,NO,experiment_pkey,None,experiment.experiment_id
14,experiment,operator_id,uuid,uuid,YES,experiment_operator_id_fkey,None,operator.operator_id
15,experiment,synthesis_id,uuid,uuid,YES,experiment_synthesis_id_fkey,None,synthesis.synthesis_id
16,operator,mail,character varying,varchar,NO,None,None,None
17,operator,name,character varying,varchar,NO,None,None,None
18,operator,operator_id,uuid,uuid,NO,operator_pkey,None,operator.operator_id
19,product_characterization,characterization_id,uuid,uuid,YES,product_characterization_characterization_id_fkey,None,characterization.characterization_id
20,product_characterization,product_characterization_id,uuid,uuid,NO,product_characterization_pkey,None,product_characterization.product_characterizat...
21,product_characterization,synthesis_id,uuid,uuid,YES,product_characterization_synthesis_id_fkey,None,synthesis.synthesis_id
22,reagent,characterization_id,uuid,uuid,NO,reagent_pkey,None,reagent.characterization_id
23,reagent,compound_id,uuid,uuid,YES,reagent_compound_id_fkey,None,compound.compound_id
24,reagent,standard_deviation,double precision,float8,YES,None,None,None
25,reagent,technique,character varying,varchar,YES,None,None,None
26,reagent,value,double precision,float8,YES,None,None,None
27,synthesis,agitation_speed,character varying,varchar,YES,None,None,None
28,synthesis,data_source_id,uuid,uuid,YES,synthesis_data_source_id_fkey,None,data_source.data_source_id
29,synthesis,residence_time,double precision,float8,YES,None,None,None
30,synthesis,synthesis_id,uuid,uuid,NO,synthesis_pkey,None,synthesis.synthesis_id
31,synthesis,temperature,double precision,float8,YES,None,None,None
32,synthesis,volume_reactor,double precision,float8,YES,None,None,None
33,synthesis_compound,compound_id,uuid,uuid,YES,synthesis_compound_compound_id_fkey,None,compound.compound_id
34,synthesis_compound,concentration,double precision,float8,YES,None,None,None
35,synthesis_compound,synthesis_compound_id,uuid,uuid,NO,synthesis_compound_pkey,None,synthesis_compound.synthesis_compound_id
36,synthesis_compound,synthesis_id,uuid,uuid,YES,synthesis_compound_synthesis_id_fkey,None,synthesis.synthesis_id

#admin_client.remove_database('stober_db')

In [ ]:
user_client.get_alembic_revisions()

,revision,log_entry,branch_labels
0,0bc99b5f8fcc,Rev: 0bc99b5f8fcc (head)\nParent: f31c7d486f1f...,"[eventsourcing, compchem]"
1,311e0c050706,Rev: 311e0c050706 (head)\nParent: bf3c5d811155...,[molar-main]
2,bd3280dd67dc,Rev: bd3280dd67dc (head)\nParent: f31c7d486f1f...,"[stober_db_creation, eventsourcing]"

In [ ]:
data = admin_stober.create_entry(
    type="compound",
    data={
      #  "compound_id": 2,
        "CAS": "CAS example",
        "name": "a compouend name",
        "purity": 78.5
    }
)
data

{'type': 'compound',
 'id': 5,
 'uuid': '4774a42c-4f87-4fbb-b69b-568ff38acf01',
 'event': 'create',
 'data': {'CAS': 'CAS example', 'name': 'a compouend name', 'purity': 78.5},
 'timestamp': '2021-10-24T13:15:11.575656',
 'alembic_version': ['bd3280dd67dc'],
 'user_id': 1}

In [ ]:
admin_stober.view_entries("stober_db")

,type,id,uuid,event,data,timestamp,alembic_version,user_id
0,compound,5,4774a42c-4f87-4fbb-b69b-568ff38acf01,create,"{'CAS': 'CAS example', 'name': 'a compouend na...",2021-10-24T13:15:11.575656,[bd3280dd67dc],1

In [ ]:
import sqlalchemy as sa

In [ ]:
from filtros import *
import time

In [ ]:
raw_data = carga_datos("Database v2.csv")

In [ ]:
raw_data.columns.to_list()

['TEOS concentration',
 'Ammonia concentration',
 'Water concentration',
 'Temperature',
 'Time',
 'Size',
 'Reference']

In [ ]:
data_source_cols = ["Reference"]
synthesis = ['Temperature', 'Time']
compounds = ["TEOS", "Ammonia", "Water"]
characterization = ["Size"]

data_source = raw_data[data_source_cols]
data_source = data_source.rename(columns={"Reference":"reference"}).reset_index(drop=True)

synthesis = raw_data[synthesis_cols]
synthesis = synthesis.rename(columns={"Temperature":"temperature"}).reset_index(drop=True)
synthesis = synthesis.rename(columns={"Time":"time"}).reset_index(drop=True)

compounds = raw_data[compounds_cols]
compounds = compounds.rename(columns={"TEOS":"teos"}).reset_index(drop=True)
compounds = compounds.rename(columns={"Ammonia":"ammonia"}).reset_index(drop=True)
compounds = compounds.rename(columns={"Water":"water"}).reset_index(drop=True)

characterization = raw_data[characterization_cols]
characterization = characterization.rename(columns={"Size":"size"}).reset_index(drop=True)

In [ ]:
#data_source_cols = ["Year", "Reference"]
#synthesis = [ 'Agitation',
#             'Temperature',
#             'Time',
#             'Mixture volume',
#             'Mixture mass',
#             'Mixture mass error']
#compounds = ["TEOS", "Alcochol", "Ammonia", "Water", "NaCl"]

#data_source = raw_data[data_source_cols]

#data_source = data_source.rename(columns={"Year":"year", "Reference":"reference"}).reset_index(drop=True)

In [ ]:
data_source

        reference
0      Bogush1988
1      Bogush1988
2      Bogush1988
3      Bogush1988
4      Bogush1988
..            ...
296  Escobedo2006
297  Escobedo2006
298      Wang2010
299      Wang2010
300      Wang2010

[301 rows x 1 columns]

In [ ]:
ds = data_source.to_dict('records')

In [ ]:
ds[0]

{'reference': 'Bogush1988'}

In [ ]:
data = admin_stober.create_entry(
    type="data_source",
    data=ds[45])

In [ ]:
for entry in ds:
    data = admin_stober.create_entry(
    type="data_source",
    data=entry
    )
    #time.sleep(10)

MolarBackendError: The client got an unexpected answer from the backend:
404: User table not found

In [ ]:
admin_stober.view_entries("stober_db")

,type,id,uuid,event,data,timestamp,alembic_version,user_id
0,compound,5,4774a42c-4f87-4fbb-b69b-568ff38acf01,create,"{'CAS': 'CAS example', 'name': 'a compouend na...",2021-10-24T13:15:11.575656,[bd3280dd67dc],1
1,data_source,6,d1d8b99b-d82d-457a-af45-4e6e8dd26323,create,"{'year': 1988, 'reference': '10.1016/0022-3093...",2021-10-24T13:55:21.645839,[bd3280dd67dc],1
2,data_source,7,b333a03a-b4dd-4692-8483-5d1171432919,create,"{'year': 1988, 'reference': '10.1016/0022-3093...",2021-10-24T13:56:57.152655,[bd3280dd67dc],1
3,data_source,8,89b5235e-1c59-403a-b8cb-2ed4cb34918c,create,"{'year': 1988, 'reference': '10.1016/0022-3093...",2021-10-24T13:58:37.509591,[bd3280dd67dc],1
4,data_source,9,1b9fcaab-c504-45be-a920-cd31a11330df,create,"{'year': 1988, 'reference': '10.1016/0022-3093...",2021-10-24T13:58:50.685616,[bd3280dd67dc],1
5,data_source,10,e6d7054b-f765-44d8-ba75-b4468be9868c,create,"{'year': 1988, 'reference': '10.1016/0022-3093...",2021-10-24T14:00:09.990962,[bd3280dd67dc],1
6,data_source,11,e7ed41d5-f289-45db-9833-af8cedf228fa,create,"{'year': 1988, 'reference': '10.1016/0022-3093...",2021-10-24T14:00:10.010876,[bd3280dd67dc],1
7,data_source,12,485f71de-645e-4de1-989b-5c0dac8ad1fc,create,"{'year': 1988, 'reference': '10.1016/0022-3093...",2021-10-24T14:00:10.029879,[bd3280dd67dc],1
8,data_source,13,ffbe2a25-73d3-4e8a-ab6d-10228eac5b50,create,"{'year': 1988, 'reference': '10.1016/0022-3093...",2021-10-24T14:05:02.079902,[bd3280dd67dc],1
9,data_source,14,2994c06e-e08b-42bd-ba6c-06f60fb549c0,create,"{'year': 1988, 'reference': '10.1016/0022-3093...",2021-10-24T14:05:02.099336,[bd3280dd67dc],1
10,data_source,15,a31e5b74-fdf8-4306-be44-fa5fe65220c5,create,"{'year': 1988, 'reference': '10.1016/0022-3093...",2021-10-24T14:05:02.119625,[bd3280dd67dc],1
11,data_source,16,8313b2a9-5415-4c25-95b7-9af2589aa4e6,create,"{'year': 1988, 'reference': '10.1016/0022-3093...",2021-10-24T14:05:19.682238,[bd3280dd67dc],1
12,data_source,17,564780d1-96a7-4d84-8a47-8eebc68dfa96,create,"{'year': 1988, 'reference': '10.1016/0022-3093...",2021-10-24T14:05:39.614131,[bd3280dd67dc],1
13,data_source,18,b3cd0083-2d61-41d4-be5f-ffdab8ca5e88,create,"{'year': 1988, 'reference': '10.1016/0022-3093...",2021-10-24T14:05:39.633159,[bd3280dd67dc],1
14,data_source,19,41522a55-e679-4a2f-a6c0-d73f0a780464,create,"{'year': 1988, 'reference': '10.1016/0022-3093...",2021-10-24T14:05:39.653264,[bd3280dd67dc],1
15,data_source,20,cf49aa16-c435-4003-a16b-2a31c5b5908d,create,"{'year': 1988, 'reference': '10.1016/0022-3093...",2021-10-24T14:05:39.672053,[bd3280dd67dc],1
16,data_source,21,c04bfca1-7bfb-4e7a-bb09-5cf1fa3aa19b,create,"{'year': 1988, 'reference': '10.1016/0022-3093...",2021-10-24T14:05:39.687543,[bd3280dd67dc],1
17,data_source,22,c08288e9-f531-480c-b988-50ce886c2f45,create,"{'year': 1988, 'reference': '10.1016/0022-3093...",2021-10-24T14:06:39.068218,[bd3280dd67dc],1
18,data_source,23,9539a532-8c74-456e-90bf-6a8aad9c9e24,create,"{'year': 1988, 'reference': '10.1016/0022-3093...",2021-10-24T14:07:51.767005,[bd3280dd67dc],1
19,data_source,24,577c1ba6-60f2-489a-ab4d-56e3f2b70841,create,"{'year': 1988, 'reference': '10.1016/0022-3093...",2021-10-24T14:08:21.195441,[bd3280dd67dc],1
20,data_source,25,db4e6907-a343-47f8-9a20-dc2cf300c01e,create,"{'year': 1988, 'reference': '10.1016/0022-3093...",2021-10-24T14:09:11.259504,[bd3280dd67dc],1
21,data_source,26,a4e42fbb-db1f-4ca1-9782-dc1bf84a4468,create,{'reference': 'Bogush1988'},2021-10-24T14:12:59.590570,[bd3280dd67dc],1
22,data_source,27,ac2c9941-8f59-4ed5-854f-9f7cf1b3e717,create,{'reference': 'Bogush1988'},2021-10-24T14:13:41.981572,[bd3280dd67dc],1
23,data_source,28,0d5d6d8d-39fb-446b-9ca1-2f837461a0da,create,{'reference': 'Bogush1988'},2021-10-24T14:14:32.049867,[bd3280dd67dc],1
24,data_source,29,c5aade3c-86eb-44a1-931f-33ff2af39062,create,{'reference': 'Bogush1988'},2021-10-24T14:15:15.568805,[bd3280dd67dc],1